PORT=3000
NEXT_PUBLIC_ENVIRONMENT=production
NEXT_PUBLIC_API_URL=https://${{produs-backend.RAILWAY_PUBLIC_DOMAIN}}/api
REACT_APP_API_URL=https://${{produs-backend.RAILWAY_PUBLIC_DOMAIN}}/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MOCK_AUTH_ENABLED=false
